.menu {
    background-color: #999;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu li {
    list-style-type: none;
    flex-basis: 120px;
    text-align: center;
    margin: 0 0.3rem;
}

.menu a {
    display: block;
    padding: 0.5rem;
    background-color: #aaa;
    text-decoration: none;
    color: #111;
    border-bottom: 3px solid #333;
}

.menu a.active {
    color: #00b5a9;
    background-color: #e3fffd;
    border-color: #00b5a9;
}

.menu a:hover {
    color: #9e7f02;
    background-color: #f5e49f;
    border-color: #9e7f02;
}